---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑hello my name is joe azzara</h1>
			<p>
				Welcome to the official blog 
			</p>
			<p>
				This my Blog that i  am testing.
			</p>
			
			<ul>
				</ul>
			<p>
				
			</p>
			
		</main>
		<Footer />
	</body>
</html>
